@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

a{
  text-decoration: none;
}

.bg-divider{
  border-top: 1px solid rgba(218, 165, 32, 0.5) !important;
}

.bg-dark
{
  background: #001F3F !important;
}

 ul .active, .active>.page-link{
  background: #001F3F !important;
  border-color: #001F3F !important;
  color: #FDF5E6 !important;
}

.page-link{
  color: #001F3F !important;
}

//text in angular site.
.text-primary{
  color: #001F3F !important;
}

.text-secondary{
  color: #001F3F;
}

.nav-link, .nav-link:visited{
  color: #FDF5E6;
}

.nav-link:hover{
  color: #DAA520;
}

.btn:active{
  background: #DAA520 !important;
  border-color: #DAA520 !important;
  color: #001F3F !important;
}

.btn-primary{
  background: #DAA520;
  border-color: #DAA520;
  color: #001F3F;
}

.btn-primary:hover{
  background: #BB8D19;
  border-color: #BB8D19;
  color: #001F3F;
}

.btn-outline-primary{
  background: transparent;
  border-color: #DAA520;
  color: #DAA520;
}


.btn-outline-primary:hover{
  background: #DAA520;
  border-color: #DAA520;
  color: #001F3F;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #DAA520 !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(218, 165, 32,.25) !important;
}

.rounded-section {
  border-radius: 10px;
  border: 1px solid rgba(0, 31, 63, 0.1);
}

.xng-breadcrumb-root{
  padding: 8px 16px;
  display: inline;
  border-radius: 0;
}

label.xng-breadcrumb-trail{
  margin-bottom: 0;
  color: #DAA520;
  font-weight: bold;
}

.xng-breadcrumb-separator{
  padding: 0;
}
