
header
{
  background: #001F3F;
}

.nav-link, .nav-link:visited{
  color: #FDF5E6;
}

.nav-link:hover{
  color: #DAA520;
}

.btn:active{
  background: #DAA520 !important;
  border-color: #DAA520 !important;
  color: #001F3F !important;
}

.btn-primary{
  background: #DAA520;
  border-color: #DAA520;
  color: #001F3F;
}

.btn-primary:hover{
  background: #BB8D19;
  border-color: #BB8D19;
  color: #001F3F;
}

.btn-outline-primary{
  background: transparent;
  border-color: #DAA520;
  color: #DAA520;
}


.btn-outline-primary:hover{
  background: #DAA520;
  border-color: #DAA520;
  color: #001F3F;
}
