<div class="card h-100 shadow rounded-section bg-light-subtle card-hover-effect" *ngIf="product">
  <div class="card-body d-flex flex-column">
    <a routerLink="/shop/{{product.id}}" class="mb-4">
      <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid">
      <h6 class="text-uppercase text-primary">{{product.name}}</h6>
      <span class="fw-bold text-dark">{{product.price | currency:"INR"}}</span>
    </a>
    <div class="btn-group mt-auto">
      <button class="btn btn-primary text-xl-center fw-semibold d-flex align-items-center justify-content-center">
        <i class="mx-3 fa fa-shopping-cart fa-2x"></i>
        Add to Cart
      </button>
    </div>
  </div>
</div>