<nav
  class="bg-dark d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-3 mb-4 border-bottom fixed-top">

<h1 [routerLink]="['/']" role="button" class="logo-style cursor-pointer"> <i class="fa fa-shopping-basket"></i> store</h1>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-uppercase">
    <li><a [routerLink]="['/']" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}"  class="nav-link px-2">Home</a></li>
    <li><a [routerLink]="['/shop']" routerLinkActive="active" class="nav-link px-2">Shop</a></li>
    <li><a [routerLink]="['/test-error']" routerLinkActive="active" class="nav-link px-2">Errors</a></li>
  </ul>

  <div class="d-flex justify-content-between align-items-center">
    <a class="position-relative" href="">
      <i class="fa fa-shopping-cart me-5 fa-2x"></i>
      <div class="cart-no">5</div>
    </a>
    <button type="button" class="btn btn-outline-primary me-2">Login</button>
    <button type="button" class="btn btn-primary">Sign-up</button>
  </div>
</nav>
